.attribution {
  color: var(--neutral-600);
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}