.header-section {
    padding: 15px 20px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 20px auto;
    border-radius: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 250px;
    height: auto;
    margin-right: 10px;
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-button {
    border-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    transition: all 0.2s ease;
}

/* Estilo tema light*/
body.light .header-section {
    background-color: var(--neutral-0);
}

body.light .theme-button {
    background-color: var(--neutral-100);
}

body.light .theme-button:hover {
    background-color: var(--neutral-300);
    border-color: var(--red-400);
    transform: scale(1.1);
}

/* Estilo tema dark*/
body.dark .header-section {
    background-color: var(--neutral-800);
}

body.dark .theme-button {
    background-color: var(--neutral-700);
    display: none;
}

body.dark .theme-button:hover {
    background-color: var(--neutral-600);
    border-color: var(--red-400);
    transform: scale(1.1);
}