.header-section {
    padding: 15px 20px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 250px;
    height: auto;
    margin-right: 10px;
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
}

.light .header-section {
    background-color: var(--neutral-0);
}

body.dark .header-section {
    background-color: var(--neutral-700);
}

body.dark-theme {
    display: none;
}